@charset "UTF-8";

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
body {
    text-align: justify;
    background-image: linear-gradient(to right,#DEEFE7,#B4BEC9,#FFFFFF, #518d87 );
}
h1{
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px, #005e55(0, 0, 0, 0.466);
}
h2{
    color: black;
}
p {
    text-align: justify;
}
main{
    background-color: #DEEFE7; color: black;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.537);
}